@model  int
<table>
    <tr>
        <td>Witam na stronie sklepu internetowego o jeszcze nie znanej nazwie.</td>
    </tr>
    <tr>
        <td>W swojej ofercie posiadamy @Model produktów.</td>
    </tr>
</table>