<table>
    <tr>
        <td><b>Mam na imię: </b></td>
        <td>Maciek</td>
    </tr>
    <tr>
        <td><b>Co to za strona: </b></td>
        <td>Stworzyłem ją w wyniku odrabiania pracy domowej na kurs.</td>
    </tr>
    <tr>
        <td><b>Zainteresowania autora: </b></td>
        <td>Moją pasją jest snowboard.</td>
    </tr>
</table>