$body-color: lightblue;
$shadow-color: darkcyan;
$main-div-color: white;
$menu-color: darkgray;
$menu-hover-color: lightgrey;
$footer-color: darkgrey;
$signature-color1: darkred;
$signature-color2: green;
$signature-color3: darkblue;
$footer-signature-bcolor:grey;
$banner-image: url("./images/logo.jpg") center no-repeat;
