@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Shop</h1>
    <p class="lead">In our shop you can find</p>
    <p><a href="@Url.Action("List", "Product")" class="btn btn-primary btn-lg">Product List &raquo;</a></p>
</div>

