@model PersonModel
<p>Person:</p>
<table>
    <tr>
        <td>Imię:</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Nazwisko:</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Data urodzenia:</td>
        <td>@Model.BirthDate</td>
    </tr>
</table>