         @media (max-width: 600px) {
     #logo {
         display: none;
     }
     header {
         display: none;
     }
}   
     @media (max-width: 400px) {
        #links ul li {
             width: 100%;
         }
         nav a {
             width: 100%;
         }
             }

